//Screen's width
$mobileW: 376px;
$tableW: 768px;
$desktopW: 1200px;
$viewportD: 1200;

// Base variable
$accent: #ffe753;
$textcolor: #ffffff;
$lineheight: 1.65;
$fontsize: 16px;
$userfont: 'PT Sans Narrow', sans-serif;