.pictures {
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
}

.pictures__list {
  position: absolute;
  transition: 0.3s all;
  top: 50%;
  left: 50%;
  transform: scale(9);
  column-width: 2em;
  width: 13vw; 
  gap: 8px;
  will-change: transform;

  @media (max-width: $tableW) {
    gap: 6px;
  }

  @media (max-width: 570px) {
    column-count: 1;
    width: auto;
    gap: 5px;
  }

  @media (max-width: 400px) {
    left: 45%;
  }
}


.pictures__item {
  position: relative;
  user-select: none;
  display: flex;
  margin-bottom: 5px;
  max-width: 40px;
  max-height: 90px;
  transform: scale(1.001);
  box-shadow: 1px 1px 1px 0px rgba(0,0,0,.4);
  transition: 1s all ease;
  overflow: hidden;

  &:nth-child(2n) {
    margin-bottom: 8px;
  }

  &:nth-child(2n) img {
    box-shadow: 2px 2px 1px 1px rgba(0,0,0,.6);
  }

  &:hover {
    transform: scale(1.1);

    .pictures__info {
      opacity: 1;
      user-select: auto;
      visibility: visible;
    }
  }
}

.pictures__item img {
  width: 100%;
}

.pictures__info {
  transition: 0.3s all ease;
  opacity: 0;
  user-select: none;
  visibility: hidden;
  position: absolute;
  bottom: 2px;
  width: 40%;
  left: 50%;
  margin: 0 auto;
  display: flex;
  justify-content: space-around;
  transform: translate(-50%);
  align-items: center;
  background-color: rgba(255,255,255,.5);
  justify-content: center;
  border-radius: 20px;

  span {
    flex: 0 0 50%;
    padding-left: 4px;
    font-size: 2px;
    color: #000000;
    background-size: 3px;
    background-repeat: no-repeat;
    
    &:last-child {
      margin-right: 0;
    }
  }

  .pictures__comments {
    background-image: url('@img/icons/icons.svg#send');
  }

  .pictures__likes {
    background-image: url('@img/icons/icons.svg#heart');
  }
}
