.upload {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  z-index: 9997;
  width: 40%;
  max-width: 480px;
  border-radius: 40px;
  transition: all 1.5s ease;

  background-image: url('@img/bg.png'), url('@img/bg-1.png');
  background-repeat: no-repeat;
  background-size:contain;

  @media (max-width: $tableW) {
    width: 50%;
  }

  @media (max-height: 500px) {
    width: 20%;
  }
}

.upload__open {
  padding: 0;
  right: -55px;
  position: absolute;
  z-index: 999;
  width: 150px;
  top: 45%;
  transform: translateY(-50%) rotate(-90deg);
  height: 40px;
  font-size: 20px;
  background-color: $accent;
  border-top-left-radius: 50%;
  border-top-right-radius: 50%;
}


.upload__form {
  width: 25.86%;
  height: 25.86%;
  display: flex;
  background-color: #f04842;
  border-radius: 40px;
  overflow: hidden;
}

.upload__file {
  padding-top: 15px;
  position: relative;
  height: 100%;
  width: 100%;
  text-align: center;

  font-size: 16px;
  text-transform: uppercase;
  will-change: transform;
  transition: 0.3s all ease;
  cursor: pointer;

  @media (max-width: 900px), (max-height: 500px) {
    font-size: 0;
  }


  &::after {
    content: '';
    position: absolute;
    width: 53.333%;
    height: 53.333%;
    left: 50%;
    transform: translateX(-50%);
    bottom: 10px;

    background-image: url('@img/svg/insta-icon.svg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;

    @media (max-width: 900px) {
      top: 50%;
      transform: translate(-50%, -50%);
    }
  }

  &:hover,
  &:focus {
    transform: scale(1.1);
  }
}

.upload__overlay,
.big-picture {
  position: fixed;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
  overflow: auto;
  padding: 80px 20px 30px 20px;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0,0,0,.4);
  z-index: 9996;
}

.upload__wrapper, 
.big-picture__wrapper {
  margin: 0 auto;
  max-width: 600px;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.upload__img-container {
  position: relative;
  max-width: 600px;
  max-height: 600px;
  width: 100%;
  margin-bottom: 30px;
  overflow: hidden;
  border: 6px solid #ffffff;
  background-color: #ffffff;
}

.upload__send {
  background-color: rgba($accent, .3);
  color: $accent;
  padding: 10px;
  font-size: 20px;
  text-transform: uppercase;
  font-weight: 400;
  transition: all 0.3s ease;

  &:hover,
  &:focus {
    background-color: rgba($accent, .5);
  }
}

.upload__img-preview {
  max-width: 600px;
  max-height: 600px;
}

.upload__img-preview img {
  max-width: 600px;
  max-height: 600px;
  width: 100%;
  object-fit: cover;
  object-position: center;
}

.upload__text {
  width: 100%;
  margin-bottom: 50px;

  * {
    border-radius: 10px;
    padding: 10px 20px;
    font-size: 20px;

    &:focus {
      outline: 3px solid rgba($accent, 0.7);
    }
  }
}

.text__nickname {
  width: 100%;
  display: block;
  margin-bottom: 20px;
}

.text__descr {
  width: 100%;
  display: block;
}